.not_found {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

.not_found > img {
    width: clamp(300px, 30%, 500px);

    margin-inline: auto;
}

.link {
    color: var(--blue-500);
    text-decoration: underline;
    text-align: center;
}