header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-3);
    padding: var(--space-4) 0;
}

header > div > .divider {
    width: 2px;
    height: var(--space-6);
    background-color: var(--black);
}